#!/bin/sh
SV_LD_LIBRARY_PATH=$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/usr/local/bin/%PRODUCT%_%VERSION%:$LD_LIBRARY_PATH
/usr/local/bin/%PRODUCT%_%VERSION%/%PRODUCT% "$@"
export LD_LIBRARY_PATH=$SV_LD_LIBRARY_PATH
